<div id="WeChatQRPopup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Main popup content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="ctrl close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" data-i18n="WeChatQRPopup.title">WeChat QR Code</h4>
      </div>
      <div class="modal-body">
        <p data-i18n="WeChatQRPopup.content">Scan the following QR Code using your WeChat app to follow me: </p>
        <div class="text-center">
          <img
          class="img-responsive wechat-qr"
          style="display:inline"
          data-toggle="tooltip"
          aria-label="QR code for popoway's WeChat account"
          title="QR code for popoway's WeChat account"
          alt="QR code for popoway's WeChat account"
          width="300" height="300">
          <p>@popoway</br>https://go.popoway.cloud/sconwx</p>
        </div>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="ctrl btn btn-default"
        data-dismiss="modal"
        data-i18n="common:ctrl.close">Close</button>
      </div>
    </div>

  </div>
</div>
