<!-- Third Container (Grid) -->
<div class="container bg-white" id="contact">
  <h1 class="text-center">Contacting popoway</h1>
  <div class="row">
    <div class="col-md-12">
      <h2>Sales and Product Inquiries</h2>
    </div>
    <div class="col-md-6">
      <h3>popoway Online Store</h3>
      <p>popoway.me is a convenient place to purchase popoway products and accessories from popoway and other manufacturers. You can buy online, chat, or call us.</p>
      <p>You can get information about an order you placed on the popoway Online Store through the <a href="javascript:alert('Unfinished feature ;D');">Order Status</a> page.</p>
    </div>
    <div class="col-md-6">
      <h3>popoway Retail Stores</h3>
      <p>Experience the digital lifestyle at any of the popoway Retail Stores around the country. Find store hours and contact information for all locations.</p>
    </div>
    <div class="col-md-6">
      <h3>How to Buy for Business</h3>
      <p>If you are a business or professional user, contact our Online Store Sales Team for enterprise quotes.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Worldwide Corporate Contacts</h2>
    </div>
    <div class="col-md-6">
      <h3><i class="fas fa-globe-americas"></i> United States</h3>
      <p>
        — popoway Online Store Sales Team <a href="mailto:sales@popoway.cloud">sales@popoway.cloud</a><br>
        — popoway Media Helpline <a href="mailto:media.help@popoway.cloud">media.help@popoway.cloud</a><br>
        — popowayCloud Support Team <a href="mailto:support@popoway.cloud">support@popoway.cloud</a><br>
        — General Inquiries <a href="mailto:popoway@popoway.cloud">popoway@popoway.cloud</a>
      </p>
    </div>
    <div class="col-md-6">
      <h3><i class="fas fa-globe-europe"></i> Europe</h3>
      <p>
        — popoway Media Helpline <a href="mailto:media.help@popoway.cloud">media.help@popoway.cloud</a><br>
        — General Inquiries <a href="mailto:popoway@popoway.cloud">popoway@popoway.cloud</a>
      </p>
    </div>
    <div class="col-md-6">
      <h3><i class="fas fa-globe-asia"></i> China & Japan</h3>
      <p>
        — popoway Media Helpline <a href="mailto:media.help@popoway.cloud">media.help@popoway.cloud</a><br>
        — popowayCloud Support Team <a href="mailto:support@popoway.cloud">support@popoway.cloud</a><br>
        — General Inquiries <a href="mailto:popoway@popoway.cloud">popoway@popoway.cloud</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Product and Services Support</h2>
    </div>
    <div class="col-md-6">
      <h3>Contact popoway Support</h3>
      <p>Need service or support? <a href="mailto:sales@popoway.cloud">Start your request online</a> and we’ll find you a solution.</p>
      <p>If you have a hearing or vision impairment, <a href="https://go.popoway.cloud/doodle">schedule a reservation</a> for direct access to popoway representatives who are trained in providing support using accessibility services.</p>
      <p>Most popoway products are eligible for 90 days of complimentary technical support. <a href="mailto:sales@popoway.cloud">Online technical support</a> for popoway products is available beyond the initial 90 days.</p>
      <p>Before contacting technical support, you may want to try online support solution for time-saving purposes.</p>
      <p>For help with popowayCloud products and services, contact <a href="mailto:support@popoway.cloud">popowayCloud Support Team</a>.</p>
    </div>
    <div class="col-md-6">
      <h3>Browse Online Support</h3>
      <p>Visit the <a href="javascript:alert('Unfinished feature ;D');">popoway Support</a> site for quick answers, manuals, and in-depth technical articles. Visit <a href="javascript:alert('Unfinished feature ;D');">popoway Communities</a> to get help and tips from fellow popoway customers.</p>
      <p>For help with popowayCloud products and services, visit <a href="https://blog.popoway.cloud/">popowayCloud Support</a>. For help with the popowayCloud Content Delivery Network service, visit <a href="https://go.popoway.cloud/static/#raw_include_README_md">popowayCloud CDN Support</a>.</p>
      </div>
    <div class="col-md-6">
      <h3>Legal</h3>
      <p>
        For legal questions, please go to the footer of this page and select from the drop-down menu provided. To report suspected counterfeit or knockoff products, or other forms of suspected infringement of popoway intellectual property, select Report Fraud from the drop-down menu.
      </p>
    </div>
  </div>
</div>
