<!-- Footer -->
<footer class="container-fluid bg-dark">
  <div class="row">
    <div class="col-md-6 col-lg-2">
      <h4>Shop and Learn</h4>
      <ul>
        <li><a href="javascript:alert('Coming soon... ;D');">
          Store Home
        </a></li>
        <li><a href="javascript:alert('Coming soon... ;D');">
          Featured
        </a></li>
        <li><a href="javascript:alert('Coming soon... ;D');">
          Designed by popoway
        </a></li>
        <li><a href="/shop/payment-method">
          Payment Method
        </a></li>
        <li><a href="javascript:alert('Coming soon... ;D');">
          Order Status
        </a></li>
        <li><a href="javascript:alert('Coming soon... ;D');">
          Sales &amp; Support
        </a></li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-2">
      <h4>Social</h4>
      <ul>
        <li><a href="/social">
          Major Accounts
        </a></li>
        <li><a href="/social/az">
          Account Full List
        </a></li>
        <li><a href="/social/az/#contact">
          Account Request
        </a></li>
        <li><a href="https://go.popoway.cloud/doodle">
          Make an Appointment
        </a></li>
        <li><a href="/social/">
          Report Fraud
        </a></li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-2">
      <h4>Career</h4>
      <ul>
        <li><a href="/career">
          Projects
        </a></li>
        <li><a href="https://go.popoway.cloud/resume">
          Resume
        </a></li>
        <li><a href="https://go.popoway.cloud/sconli">
          LinkedIn
        </a></li>
        <li><a href="/career#contact">
          Recruiter Inquiry
        </a></li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-2">
      <h4>Developer</h4>
      <ul>
        <li><a href="https://portal.popoway.cloud/">
          popowayCloud Portal
        </a></li>
        <li><a href="https://blog.popoway.cloud/">
          Product Blog
        </a></li>
        <li><a href="https://go.popoway.cloud/scongh">
          GitHub
        </a></li>
        <li><a href="https://go.popoway.cloud/static">
          Content Delivery Network
        </a></li>
        <li><a href="https://status.popoway.cloud/">
          System Status
        </a></li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-2">
      <h4>Legal</h4>
      <ul>
        <li><a href="https://go.popoway.cloud/legal">
          Terms of Use
        </a></li>
        <li><a href="https://go.popoway.cloud/cookie">
          Privacy Policy
        </a></li>
        <li><a href="https://go.popoway.cloud/cookie">
          Cookie Policy
        </a></li>
        <li><a href="https://go.popoway.cloud/legal">
          Acceptable Use Policy
        </a></li>
        <li><a href="javascript:alert('Coming soon... ;D');">
          Trademark Guideline
        </a></li>
        <li><a href="https://blog.popoway.cloud/credits/">
          Open Source Credits
        </a></li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-2">
      <h4>About popoway</h4>
      <ul>
        <li><a href="https://popoway.me/newsroom">
          Newsroom
        </a></li>
        <li><a href="/leadership">
          popoway Leadership
        </a></li>
        <li><a href="https://blog.popoway.cloud/investors/">
          Investors
        </a></li>
        <li><a href="javascript:alert('Coming soon... ;D');">
          Sitemap
        </a></li>
        <li><a href="/contact">
          Contact popoway
        </a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-push-4 text-center"><a class="ctrl button up-arrow" href="#myPage" data-i18n="[title]common:ctrl.to_top" data-toggle="tooltip" title="To Top"><span class="glyphicon glyphicon-chevron-up"></span>
  </a></div>
    <div class="col-sm-4 col-sm-pull-4 hidden-xs text-left" data-i18n="container-fluid.footer_powered">Powered by popowayCloud.</div>
    <!-- Responsive margin of right footer -->
    <!-- 1.Adapt to larger screen -->
    <div class="col-sm-4 hidden-xs text-right">
      Brewed with <i class="fas fa-heart" data-toggle="tooltip" aria-label="love" title="love" alt="love"></i><span class="visuallyhidden">love</span> and <i class="fas fa-tint" data-toggle="tooltip" aria-label="water" title="water" alt="water"></i><span class="visuallyhidden">water</span> by <a href="/leadership">popoway</a>.
    </div>
    <!-- 2.Adapt to mobile screen -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl text-center">
      Brewed with <i class="fas fa-heart" data-toggle="tooltip" aria-label="love" title="love" alt="love"></i><span class="visuallyhidden">love</span> and <i class="fas fa-tint" data-toggle="tooltip" aria-label="water" title="water" alt="water"></i><span class="visuallyhidden">water</span> by <a href="/leadership">popoway</a>.
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl text-center" data-i18n="container-fluid.footer_powered">
      Powered by popowayCloud.
    </div>
  </div>
  <p class="ver-binding"><a href="https://github.com/popoway/popoway-me/releases" target="_blank">v2.0.0-rc.1</a> <a href="https://github.com/popoway/popoway-me/issues" target="_blank">feedback</a></p>
</footer>
