<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">

  <!-- Responsive settings -->
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width, user-scalable=no">

  <!-- Facebook meta tags -->
  <meta property="og:url" content="https://popoway.me/index.html" />
  <meta property="og:title" content="popoway.me" />
  <meta property="og:site_name" content="popoway's website" />
  <meta property="og:description" content="This is popoway's personal website." />
  <meta property="og:image" content="https://popoway.me/images/avatar_1000px.png" />
  <meta property="og:type" content="profile" />
  <meta property="fb:profile_id" content="Ming.Lei09" />
  <meta property="article:publisher" content="https://www.facebook.com/Ming.Lei09" />

  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="popoway.me">
  <meta name="twitter:title" content="popoway's website">
  <meta name="twitter:description" content="This is popoway's personal website.">
  <meta name="twitter:site" content="@popoway9">

  <!-- General meta tags -->
  <meta name="description" content="This is popoway's personal website.">
  <meta name="keywords" content="popoway, website, portfolio, blog">
  <meta name="author" content="popoway">

  <title>popoway.me</title>

  <!-- Load styles -->
  <link rel="stylesheet" href="https://static.popoway.me/fonts/opensans/opensans.min.css"
        integrity="sha384-Xrzat8P9cvhcQdeHz/Me6Jo1yX5DrkEnpw+m89nptaWQBNMqSzi4XDZXlIT0vxSA" crossorigin="anonymous">
  <link rel="stylesheet" href="https://static.popoway.me/ajax/libs/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://static.popoway.me/ajax/libs/font-awesome/5.6.3/css/all.min.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">

  <!-- Load fav and touch icons -->
  <link rel="shortcut icon" href="/icons/favicon_64px.png" integrity="sha384-DGUvY/GctAaZX4n0M5uOYPcus9F1T2buym4u0jmYP/oBvjlZ5JbrQZNemx1YV+As" crossorigin="anonymous">

  <!-- iOS integration -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="popoway.me">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" sizes="192x192" href="/icons/touchicon_192px.png" integrity="sha384-lsgWMnGQ+7u7o0x2/IRafCbyVAiz5Qmj+8FqAwD8CBacS5S6H1C22Q0x23/xBZYp" crossorigin="anonymous">

  <!-- Android integration -->
  <link rel="icon" sizes="192x192" href="/icons/icon.png" integrity="sha384-lsgWMnGQ+7u7o0x2/IRafCbyVAiz5Qmj+8FqAwD8CBacS5S6H1C22Q0x23/xBZYp" crossorigin="anonymous">
  <meta name="theme-color" content="#6386EC">

  <!-- Windows 10 integration -->
  <meta name="msapplication-square70x70logo" content="/icons/icon_smalltile.png">
  <meta name="msapplication-square150x150logo" content="/icons/icon_mediumtile.png">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109604040-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109604040-1');
  </script>

  <!-- pC Analytics JavaScript Tracker -->
  <script type="text/javascript">
  //<![CDATA[
  var owa_baseUrl = 'https://a.popoway.cloud/';
  var owa_cmds = owa_cmds || [];
  owa_cmds.push(['setSiteId', '02d16861a20e9d39e29d6264c2504c5b']);
  owa_cmds.push(['trackPageView']);
  owa_cmds.push(['trackClicks']);
  owa_cmds.push(['trackDomStream']);

  (function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
  }());
  //]]>
  </script>
  <!-- End pC Analytics JavaScript Tracker Code -->
</head>
