<div class="container-fluid bg-light-blue text-center home-cover" id="home">
  <h1>Welcome Home.</h1>
  <noscript><img class="img-responsive img-circle animated fadeIn" src="/images/avatar_350px.png" srcset="/images/avatar_350px.png 1x, /images/avatar_700px.png 2x, /images/avatar_1050px.png 3x" data-toggle="tooltip" data-placement="bottom" aria-label="popoway's avatar, handmade Detective Conan figure, white background" title="popoway's avatar" alt="popoway's avatar, handmade Detective Conan figure, white background" width="350" height="350"></noscript>
  <img class="img-responsive img-circle avatar-ajax animated fadeIn" data-toggle="tooltip" data-placement="bottom" aria-label="popoway's avatar, handmade Detective Conan figure, white background" title="popoway's avatar" alt="popoway's avatar, handmade Detective Conan figure, white background" width="350" height="350">
  <h3 class="slideanim">I'm popoway.</h3>
</div>
<div class="container-fluid col-md bg-gray text-center home-cover" id="home-me-preview">
  <h3>Finally v2.0: Introducing the new look of popoway.me.</h3>
  <h4><a href="https://github.com/popoway/popoway-me/releases" target="_blank">Release notes</a> &nbsp; <a href="https://github.com/popoway/popoway-me/issues" target="_blank">Send feedback</a></h4>
</div>
<div class="container-fluid col-md bg-light-red text-center home-cover" id="home-pride">
  <h1>Holiday Season.</h1>
  <h4 class="slideanim">Celebrating holidays with the new seasonal popoway avatar available on Instagram.</h4>
  <h4><a href="https://www.instagram.com/p/BymOxrmApge/">Learn more...</a></h4>
  <h2 class="slideanim"><i class="far fa-snowflake fa-5x"></i></h2>
</div>
<div class="container-fluid">
  <div class="row row-eq-height">
    <div class="col-md-6 bg-white text-center home-cover" id="home-pb-watch">
      <h2 class="slideanim">Vault on your wrist.</h2>
      <h4 class="slideanim">When is the last time you changed your password? Learn about your password security with popowayCloud Passbase on Apple Watch.</h4>
      <h4><a href="https://pb.popoway.cloud">Learn more...</a></h4>
      <h2 class="slideanim"><i class="fas fa-fingerprint fa-5x"></i></h2>
    </div>
    <div class="col-md-6 bg-gray text-center home-cover" id="home-say-name">
      <h2 class="slideanim">How to say "popoway"?</h2>
      <h4 class="slideanim">Learn the pronounciation of "popoway" and its variants with this newly-released project.</h4>
      <h4><a href="https://go.popoway.cloud/saymyname">Learn more...</a></h4>
      <h2 class="slideanim"><i class="fas fa-volume-up fa-5x"></i></h2>
    </div>
  </div>
</div>
