<div class="container-fluid bg-light-blue text-center home-cover" id="home">
  <h1>Who am I?</h1>
  <noscript><img class="img-responsive img-circle animated fadeIn" src="/images/avatar_350px.png" srcset="/images/avatar_350px.png 1x, /images/avatar_700px.png 2x, /images/avatar_1050px.png 3x" data-toggle="tooltip" data-placement="bottom" aria-label="popoway's avatar, handmade Detective Conan figure, white background" title="popoway's avatar" alt="popoway's avatar, handmade Detective Conan figure, white background" width="350" height="350"></noscript>
  <img class="img-responsive img-circle avatar-ajax animated fadeIn" data-toggle="tooltip" data-placement="bottom" aria-label="popoway's avatar, handmade Detective Conan figure, white background" title="popoway's avatar" alt="popoway's avatar, handmade Detective Conan figure, white background" width="350" height="350">
  <h3 class="slideanim">I'm popoway.</h3>
  <h5 class="slideanim" data-toggle="tooltip" title="International Phonetic Alphabet" aria-hidden="true">IPA: |ˈpɑpəˌweɪ|</h5>
  <h6 class="slideanim">*Learn more about the pronounciation <a href="https://go.popoway.cloud/saymyname" class="slideanim">here</a>.</h6>
</div>
<div class="container-fluid bg-gray home-cover text-center">
  <h3 class="slideanim">Who are you, actually?</h3>
  <div class="col-sm-3 hidden-xs"></div>
  <div class="col-sm-6">
    <p class="slideanim"> A weird human being who likes comic, to code, and to cook. </p>
  </div>
  <div class="col-sm-3 hidden-xs"></div>
</div>
<div class="container-fluid bg-white home-cover text-center">
  <h3 class="slideanim">Why there's such a website?</h3>
  <div class="col-sm-3 hidden-xs"></div>
  <div class="col-sm-6">
    <p class="slideanim">Hmm, it's a good question. I used to own a personal blog. It's abandoned afterwards as blog requires constant content updates, while a HTML5 website and <a href="/social/az/">links to social networking platforms</a> are able to achieve the same purpose. </p>
    <h6 class="slideanim">*Actually there's a <a href="https://popoway.me/newsroom/" class="slideanim">newsroom</a> containing choice collection for time-saving journalists.:)</h6>
  </div>
  <div class="col-sm-3 hidden-xs"></div>
</div>
<div class="container-fluid bg-light-red home-cover text-center">
  <h3 class="slideanim">What's your motto?</h3>
  <div class="col-sm-3 hidden-xs"></div>
  <div class="col-sm-6">
    <p class="slideanim"> Rediscover the world. </p>
    <h6 class="slideanim">*Check out this <a href="https://github.com/popoway/php-random-quotes" target="_blank">GitHub repo</a> to see more quotes.</h6>
  </div>
  <div class="col-sm-3 hidden-xs"></div>
</div>
