<body id="myPage" data-spy="scroll" data-target="#myScrollspy" data-offset="10">


<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="myScrollspy">

  <!-- NoJs notice: Provide enable and fallback js option -->
  <!-- Note that it's embedded in the navbar -->
  <noscript>
    <style>
        .noscript-banner {
          margin: 0;
          padding: 12px 15px;
          color: #000;
          text-align: center;
          font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 13px;
          letter-spacing: 1px;
        }
        .enable-js {
          background-color: #FFC107; /* Dark Yellow */
        }
        .cookie-banner-nojs {
          background-color: #E336BB; /* Pink */
        }
        .avatar-ajax {display: none;}
        .bg-1 {padding-top: 180px;}
        .slideanim {visibility:visible;}
        figure noscript {
          top: 0;
          left: 0;
          position: absolute;
        }
    </style>
    <p class="noscript-banner enable-js">popoway.me requires to enable JavaScript for complete experience. <a href="https://go.popoway.cloud/hteajs/" target="_blank" rel="noopener">Here is how.</a></p>
    <p class="noscript-banner cookie-banner-nojs">popoway.me uses Cookies to improve your browsing experience. By continuing we assume your permission to deploy Cookies, as detailed in our <a href="https://go.popoway.cloud/cookie/" tabindex="0" target="_blank"  rel="noopener">Privacy Policy.</a></p>
  </noscript>

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="ctrl navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">popoway.me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">
        <li><a href="/leadership">About</a></li>
        <li><a href="/social">Social</a></li>
        <li><a href="/career">Career</a></li>
        <li><a href="https://popoway.me/newsroom" data-i18n="common:nav.newsroom;[href]common:nav.newsroom_link">Newsroom</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-globe" title="Switch Language" alt="Switch Language"></i> English
          </a>
          <ul class="dropdown-menu" style="letter-spacing: 1px;">
            <li class="lang-select" id="en"><a href="javascript:void(0)">Language Switcher is</a></li>
            <li class="lang-select" id="en"><a href="javascript:void(0)">currently unavailable</a></li>
            <li class="lang-select" id="en"><a href="javascript:void(0)">under pre-release phase.</a></li>
            <li class="lang-select" id="en"><a href="javascript:void(0)">-------------</a></li>
            <li class="lang-select" id="en"><a href="javascript:void(0)">en - English</a></li>
            <li class="lang-select" id="es"><a href="javascript:void(0)">es - Español</a></li>
            <li class="lang-select" id="ja"><a href="javascript:void(0)">ja - 日本語</a></li>
            <li class="lang-select" id="zh-CN"><a href="javascript:void(0)">zh-CN - 简体中文</a></li>
            <li class="lang-select" id="zh-TW"><a href="javascript:void(0)">zh-TW - 繁體中文</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
