<!-- Load JavaScript: Defer loading js by putting src to footer -->
<script src="https://static.popoway.me/ajax/libs/jquery/3.3.1/jquery.min.js"
        defer integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://static.popoway.me/ajax/libs/bootstrap/3.4.1/js/bootstrap.min.js"
        defer integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
<script src="https://static.popoway.me/ajax/libs/cookie-banner/1.2.0/cookiebanner.min.js"
        defer id="cookiebanner" data-moreinfo="https://go.popoway.cloud/cookie/" data-i18n="[data-message]common:cookiebanner.message;[data-linkmsg]common:cookiebanner.more" data-message="popoway.me uses Cookies to improve your browsing experience. By continuing we assume your permission to deploy Cookies, as detailed in our Privacy Policy." data-linkmsg="Learn more" integrity="sha384-xb47z0jQyvIYzxc4QZsYPpmzN0W4au5hsQwbVbxc2/ZuenTp2hS/e77JNNY9QM0d" crossorigin="anonymous"></script>
<!-- Call Scroll js -->
<script src="/scripts/app.js" defer></script>

</body>
</html>
