<!-- Load JavaScript: Defer loading js by putting src to footer -->
<script src="https://static.popoway.me/ajax/libs/jquery/3.3.1/jquery.min.js"
        defer integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://static.popoway.me/ajax/libs/bootstrap/3.3.7/js/bootstrap.min.js"
        defer integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
<script src="https://static.popoway.me/ajax/libs/i18next/10.0.3/i18next.min.js"
        defer integrity="sha384-4cOqw3pHnfpZvPcgJSM6NHCR/ckN6vdiTltVHZUfyEJXgeBrjZJF7aGrpG69UNry" crossorigin="anonymous"></script><!-- i18next Internationalization Framework -->
<script src="https://static.popoway.me/ajax/libs/i18next-xhr-backend/1.4.3/i18nextXHRBackend.min.js"
        defer integrity="sha256-XNjsJ3u3TvGT98+9dCFJJAtwEnCd1DjL6LhWPLz1hUU=" crossorigin="anonymous"></script>
<script src="https://static.popoway.me/ajax/libs/jquery-i18next/1.2.1/jquery-i18next.min.js"
        defer integrity="sha384-fLTSt6zHOb152KeFkj7kSiXdkyjKf6fjk5bdzWYLDPDo9evwd9PVs3TKoYYaaxdl" crossorigin="anonymous"></script>
<script src="https://static.popoway.me/ajax/libs/i18next-browser-languageDetector/2.0.0/i18nextBrowserLanguageDetector.min.js"
        defer integrity="sha384-32yL9AegbpPZ+PGuwc9WkVA4/tzNIiozbqj3GgFvPObgGPdwPPR84lNzhF8QqZWZ" crossorigin="anonymous"></script>
<script src="https://static.popoway.me/ajax/libs/cookie-banner/1.2.0/cookiebanner.min.js"
        defer id="cookiebanner" data-moreinfo="https://go.popoway.cloud/cookie/" data-i18n="[data-message]common:cookiebanner.message;[data-linkmsg]common:cookiebanner.more" data-message="popoway.me uses Cookies to improve your browsing experience. By continuing we assume your permission to deploy Cookies, as detailed in our Privacy Policy." data-linkmsg="Learn more" integrity="sha384-xb47z0jQyvIYzxc4QZsYPpmzN0W4au5hsQwbVbxc2/ZuenTp2hS/e77JNNY9QM0d" crossorigin="anonymous"></script>
<!-- Call Scroll js -->
<script src="assets/smooth-scroll.min.js"
        defer integrity="sha384-DffvanPxFHs1VKsl28s8C08fD+yVcNqWScDcrrH9LGShfvOwuMt0G/Z+xFn6bYJX" crossorigin="anonymous"></script>
<!-- <script src="assets/smooth-scroll.js" defer></script> -->

</body>
</html>
