<!-- Second Container -->
<div class="container-fluid bg-2 text-center" id="why">
  <h3 class="margin slideanim" data-i18n="container-fluid.why_there_is_page">Why There's Such A Page?</h3>
  <div class="col-sm-3 hidden-xs popoway-placeholder-left"></div>
  <div class="col-sm-6">
    <p class="slideanim" data-i18n="container-fluid.why_there_is_page_content">Emm, good question. I used to own a personal blog. It's abandoned afterwards as blog requires content to be filled in, while a HTML5 page and links to social media are able to achieve the same purpose. However, he is a guy in general who remembers and works on something called... </p>
    <a href="#why" class="btn btn-default btn-lg slideanim">
      <span class="glyphicon glyphicon-search slideanim"></span> Rediscover the world.
    </a></br></br>
    <h7 class="slideanim" data-i18n="container-fluid.why_newsroom_hint_left">*Actually there's a </h7><a href="newsroom/" class="slideanim" data-i18n="container-fluid.why_newsroom_hint_center">newsroom</a><h7 class="slideanim" data-i18n="container-fluid.why_newsroom_hint_right"> containing choice collection for time-saving journalists.:)</h7>
  </div>
  <div class="col-sm-3 hidden-xs popoway-placeholder-right"></div>
</div>
