<div class="container bg-white" id="shop-payment-method">
  <h1 class="text-center">Payment Method</h1>
  <h3 class="text-center">Shop as you go, payment made easy. <br> The following payment methods are accepted on the popoway.me Online Store:</h3>

  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="far fa-handshake"></i>
    </div>
    <div class="col-md-8">
      <h2>Zelle®</h2>
      <h4>Accepted currency: USD</h4>
      <p>If you're a US resident with Chase QuickPay® or Bank of America account enabled,
         Zelle® is the easiest way to send the payment, virtually and securely.</p>
      <p><a href="javascript:alert('[Zelle]\nSend payment to: \nmlei@qc.cuny.edu \nor \n+1 (650) 603-0925');">Request recepient address...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-apple-pay"></i>
    </div>
    <div class="col-md-8">
      <h2>Apple Pay Cash®</h2>
      <h4>Accepted currency: USD</h4>
      <p>This is an alternative payment network for customers who are
         US residents, and have an Apple device with Apple Pay Cash enabled.</p>
      <p><a href="javascript:alert('[Apple Pay Cash]\nSend payment to: \naccus@popoway.cloud \nor \n+1 (650) 603-0925');">Request recepient address...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-facebook-messenger"></i>
    </div>
    <div class="col-md-8">
      <h2>Facebook Payments</h2>
      <h4>Accepted currency: USD</h4>
      <p>This is an alternative payment network for customers who are US residents, and have a
         Facebook account with Facebook Payments enabled. Learn more about Facebook Payments
         <a href="https://www.facebook.com/help/1434403039959381" target="_blank">here</a>.
      </p>
      <p><a href="https://go.popoway.cloud/sconfb" target="_blank">Proceed...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-paypal"></i>
    </div>
    <div class="col-md-8">
      <h2>PayPal</h2>
      <h4>Accepted currency: USD, CAD, GBP, EUR</h4>
      <p>This is a payment network for global customers, especially intended
         for European Economic Area (EEA) or Canadian residents. Opening a PayPal account is not mandatory.</p>
      <div class="container-fluid col-md-6" style="padding: 0px;">
        <p><a href="https://go.popoway.cloud/sconpp">Proceed (PayPal)...</a></p>
      </div>
      <div class="container-fluid col-md-6" style="padding: 0px;">
        <p><a href="https://go.popoway.cloud/sconvm">Proceed (Venmo)...</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-bitcoin"></i>
    </div>
    <div class="col-md-8">
      <h2>Bitcoin</h2>
      <h4>Accepted currency: BTC</h4>
      <p>Bitcoin is perfect for customers who perfer to shop in an anonymous approach.
         Please note that it may take up to 48 hours to process the payment, and such
         transactions are non-refundable.</p>
      <p><a href="https://go.popoway.cloud/sconbc">Request Bitcoin wallet address...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-weixin"></i>
    </div>
    <div class="col-md-8">
      <h2>WeChat Pay</h2>
      <h4>Accepted currency: CNY / RMB</h4>
      <p>This is the primary payment network for customers who are
         residents in Mainland China, and have a WeChat account with WeChat Pay enabled.</p>
      <p><a href="#WeChatQRPopup" data-toggle="modal" data-target="#WeChatQRPopup">Learn more...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-alipay"></i>
    </div>
    <div class="col-md-8">
      <h2>Alipay</h2>
      <h4>Accepted currency: CNY / RMB</h4>
      <p>This is an alternative payment network for customers who are
         residents in Mainland China, and have an Alipay account set up.</p>
      <p><a href="javascript:alert('Unfinished feature ;D');">Coming soon...</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="slideanim">Prefer an offline transaction?</h3>
      <h4 class="slideanim">Make an appointment with popoway via <a href="https://go.popoway.cloud/doodle" target="_blank">Doodle</a>.</h4>
    </div>
    <div class="col-md-12 text-center">
      <h3 class="slideanim">Found counterfeit accounts?</h3>
      <h4 class="slideanim">Take a screenshot, and <a href="mailto:popoway@popoway.cloud">send a complaint</a> to popoway.</h4>
    </div>
    <div class="col-md-12">
      <br>
      <h6 class="slideanim ver-binding">Zelle and the Zelle related marks are wholly owned by Early Warning Services, LLC and are used herein under license. “Chase,” “QuickPay,” the JPMorgan Chase logo, and the Octagon Symbol are trademarks of JPMorgan Chase Bank, N.A. “Apple,” “Apple Pay,” “Apple Pay Cash,” and the Apple Pay logo are trademarks of Apple Inc. All other trademarks cited herein are the property of their respective owners.</h6>
    </div>
  </div>

</div>
