<div class="container bg-white" id="social">
  <h1 class="text-center">Stay Connected</h1>
  <h3 class="text-center">with popoway on those major social networking platforms:</h3>

  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-instagram"></i>
    </div>
    <div class="col-md-8">
      <h2>Instagram</h2>
      <h4>@popoway9</h4>
      <p>Instagram is a major photo posting and sharing community
         where popoway usually delivers announcements, updates activities, and gathers thoughts.</p>
      <p><a href="https://go.popoway.cloud/sconis" target="_blank">Learn more...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-linkedin"></i>
    </div>
    <div class="col-md-8">
      <h2>LinkedIn</h2>
      <h4>Ming Lei</h4>
      <p>LinkedIn is the professional social networking implementation, which allows popoway to
         connect more field experts, and enhance a delicate career portfolio.</p>
      <p><a href="https://go.popoway.cloud/sconli" target="_blank">Learn more...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 social-logo-main">
      <i class="fab fa-weixin"></i>
    </div>
    <div class="col-md-8">
      <h2>WeChat</h2>
      <h4>@popoway</h4>
      <p>WeChat is a mobile-friendly platform intended for readers
         who live in Asia-Pacific area.</p>
      <p><a href="#WeChatQRPopup" data-toggle="modal" data-target="#WeChatQRPopup">Learn more...</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="slideanim">Not enough?</h2>
      <h4 class="slideanim">Toggle <a href="az">Full List</a>.</h4>
      <br>
    </div>
    <div class="col-md-12 text-center">
      <h3 class="slideanim">Prefer an offline talk?</h3>
      <h4 class="slideanim">Make an appointment with popoway via <a href="https://go.popoway.cloud/doodle" target="_blank">Doodle</a>.</h4>
    </div>
    <div class="col-md-12 text-center">
      <h3 class="slideanim">Found counterfeit accounts?</h3>
      <h4 class="slideanim">Take a screenshot, and <a href="mailto:popoway@popoway.cloud">send a complaint</a> to popoway.</h4>
    </div>
  </div>

</div>
