<!-- Third Container (Grid) -->
<div class="container-fluid bg-white text-center" id="social-az">
  <h1>Where to Find more popoway?</h1>
  <h3>Click usernames to move forward.</h3><br>

  <div class="row">

    <div class="col-sm-4">
      <a href="https://go.popoway.cloud/sconaz">
        <i class="fab fa-amazon social-logo-medium"></i>
        <h4 class="bg-3-servicename">Amazon</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://go.popoway.cloud/sconam">
        <i class="fas fa-music social-logo-medium"></i>
        <h4 class="bg-3-servicename">Apple Music</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://go.popoway.cloud/sconkb">
        <i class="fab fa-btc social-logo-medium"></i>
        <h4 class="bg-3-servicename">Bitcoin</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/scondp">
        <i class="fab fa-dev social-logo-medium"></i>
        <h4 class="bg-3-servicename">Devpost</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconfb">
        <i class="fab fa-facebook-f social-logo-medium"></i>
        <h4 class="bg-3-servicename">Facebook</h4>
        <p>Ming.Lei09</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/scongh">
        <i class="fab fa-github social-logo-medium"></i>
        <h4 class="bg-3-servicename">GitHub</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/scongm">
        <i class="fas fa-map-marked-alt social-logo-medium"></i>
        <h4 class="bg-3-servicename">Google Maps</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconis">
        <i class="fab fa-instagram social-logo-medium"></i>
        <h4 class="bg-3-servicename">Instagram</h4>
        <p>@popoway9</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconkb">
        <i class="fas fa-key social-logo-medium"></i>
        <h4 class="bg-3-servicename">Keybase</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconli">
        <i class="fab fa-linkedin-in social-logo-medium"></i>
        <h4 class="bg-3-servicename" data-i18n="container-fluid.where_linkedin">Linkedin</h4>
        <p>Ming-Lei</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconpp">
        <i class="fab fa-paypal social-logo-medium"></i>
        <h4 class="bg-3-servicename">PayPal</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconrd">
        <i class="fab fa-reddit-alien social-logo-medium"></i>
        <h4 class="bg-3-servicename">Reddit</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconwb">
        <i class="fab fa-weibo social-logo-medium"></i>
        <h4 class="bg-3-servicename" data-i18n="container-fluid.where_weibo">Sina Weibo</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconsc">
        <i class="fab fa-snapchat-ghost social-logo-medium"></i>
        <h4 class="bg-3-servicename">Snapchat</h4>
        <p>@popoway9</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconsc">
        <i class="fab fa-soundcloud social-logo-medium"></i>
        <h4 class="bg-3-servicename">SoundCloud</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconse">
        <i class="fab fa-stack-exchange social-logo-medium"></i>
        <h4 class="bg-3-servicename">StackExchange</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconst">
        <i class="fab fa-steam-symbol social-logo-medium"></i>
        <h4 class="bg-3-servicename">Steam</h4>
        <p>@popoway9</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/scontg">
        <i class="fab fa-telegram-plane social-logo-medium"></i>
        <h4 class="bg-3-servicename">Telegram</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconqw">
        <i class="fab fa-tencent-weibo social-logo-medium"></i>
        <h4 class="bg-3-servicename" data-i18n="container-fluid.where_tweibo">Tencent Weibo</h4>
        <p>@popoway</p>
      </a>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/scontw">
        <i class="fab fa-twitter social-logo-medium"></i>
        <h4 class="bg-3-servicename">Twitter</h4>
        <p>@popoway9</p>
      </a>
    </div>
    <!-- Trigger the WeChat QR code popup with a "button" -->
    <div class="col-sm-4 slideanim" data-toggle="modal" data-target="#WeChatQRPopup">
      <i class="fab fa-weixin social-logo-medium"></i>
      <h4 class="bg-3-servicename" data-i18n="container-fluid.where_wechat">WeChat</h4>
      <p><a href="#WeChatQRPopup">@popoway</a></p>
    </div>
    <div class="col-sm-4 slideanim">
      <a href="https://go.popoway.cloud/sconyt">
        <i class="fab fa-youtube social-logo-medium"></i>
        <h4 class="bg-3-servicename">YouTube</h4>
        <p>@popoway9</p>
      </a>
    </div>

  </div>

  <div class="row" id="contact">
    <div class="col-md-12 text-center">
      <h3 class="slideanim">Too much information?</h3>
      <h4 class="slideanim">Go back to <a href="../">Social page</a>.</h4>
    </div>
    <div class="col-md-12 text-center">
      <h3 class="slideanim">Still didn't find the one you like?</h3>
      <h4 class="slideanim">File an <a href="#">Account Request</a>.</h4>
    </div>
  </div>

</div>
