<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center" id="where">
  <h3 class="slideanim" data-i18n="container-fluid.where_to_find_me">Where To Find Me?</h3>
  <h5 class="slideanim" data-i18n="container-fluid.where_to_find_me_content">Click usernames to move forward.</h5><br>
  </br>

  <!-- Row 1: Facebook, Twitter, Linkedin -->
  <div class="row">
    <a href="https://go.popoway.cloud/sconfb">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-facebook-square social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Facebook</h4>
        <p>Ming.Lei09</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/scontw">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-twitter-square social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Twitter</h4>
        <p>@popoway9</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/sconli">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-linkedin-square social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename" data-i18n="container-fluid.where_linkedin">Linkedin</h4>
        <p>Ming-Lei</p>
      </div>
    </a>
  </div>
  </br>

  <div class="row">
    <a href="https://go.popoway.cloud/sconis">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-instagram social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Instagram</h4>
        <p>popoway9</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/scongh">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-github social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">GitHub</h4>
        <p>popoway</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/sconst">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-steam-square social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Steam</h4>
        <p>popoway9</p>
      </div>
    </a>
  </div>
  </br>

  <div class="row">
    <a href="https://go.popoway.cloud/sconse">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-stack-exchange social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">StackExchange</h4>
        <p>popoway</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/scongp">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-google-plus social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Google+</h4>
        <p>Ming Lei</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/sconaz">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-amazon social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Amazon</h4>
        <p>@popoway</p>
      </div>
    </a>
  </div>
  </br>

  <div class="row">
    <a href="https://go.popoway.cloud/sconrd">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-reddit social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Reddit</h4>
        <p>popoway</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/sconsc">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-snapchat social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Snapchat</h4>
        <p>@popoway9</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/scontg">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-telegram social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Telegram</h4>
        <p>@popoway</p>
      </div>
    </a>
  </div>
  </br>

  <div class="row">
    <a href="https://go.popoway.cloud/sconkb">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-key social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Keybase</h4>
        <p>@popoway</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/sconkb">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-envelope-o social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Email</h4>
        <p>Email and PGP Key</p>
      </div>
    </a>
    <a href="https://go.popoway.cloud/sconkb">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-btc social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename">Bitcoin</h4>
        <p>@popoway</p>
      </div>
    </a>
  </div>
  </br>

  <div class="row">
    <a href="https://go.popoway.cloud/sconwb">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-weibo social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename" data-i18n="container-fluid.where_weibo">Weibo</h4>
        <p>@popoway</p>
      </div>
    </a>
      <!-- Trigger the WeChat QR code popup with a "button" -->
    <div class="col-sm-4 slideanim" data-toggle="modal" data-target="#WeChatQRPopup">
      <i class="fa fa-weixin social-logo-medium" aria-hidden="true"></i>
      <h4 class="bg-3-servicename" data-i18n="container-fluid.where_wechat">WeChat</h4>
      <p><a href="#WeChatQRPopup">@popoway</p>
    </div>
    </a>
    <a href="https://go.popoway.cloud/sconqw">
      <div class="col-sm-4 slideanim">
        <i class="fa fa-tencent-weibo social-logo-medium" aria-hidden="true"></i>
        <h4 class="bg-3-servicename" data-i18n="container-fluid.where_tweibo">Tencent Weibo</h4>
        <p>@popoway</p>
      </div>
    </a>
  </div>
</div>
